@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content{
  height: 40vh;
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20%;
  justify-content: left;
}
/*.sidebar-active{
  margin-left: 20%;
}*/