@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-content{
  height: 40vh;
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20px;
  justify-content: left;
}
.sub-content{
  margin-top: 10px;
  margin-bottom:25px ;
  padding: 5px;
}
.code-content{
  font-family: Consolas,monaco,monospace; 
}